
<tr class="post post_<%= post.id %>">








        <div class="[ col-xs-12 col-sm-5 ]" style="padding: 1px 1px 1px 30px">
            <div class="[ panel panel-default ] panel-google-plus">
                <div class="dropdown">
                    <span class="dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="[ glyphicon glyphicon-chevron-down ]"></span>
                    </span>

                </div>

                <div class="panel-heading">

      <!-- NICKNAME               -->

                    <h5><span>Shared publicly</span> - <span>Jun 27, 2015</span> </h5>
                </div>
                <div class="panel-body">
	                <div class="post post_<%= post.id %>">
	    <!-- POST -->
	                     <!-- POST    -->
	                     <p>Title: <%= post.title %></p>

	                     <p>Post: <%= post.content %></p>
	                 </div>
                </div>
<!-- ULTIMOS COMENTARIOS -->
                <div style="background-color: rgb(112, 139, 169); padding: 15px" >
                  	<% post.comments.each do |c| %>
						<%= c.content %>
					<% end %>
                </div>

                <div class="panel-footer">
  <!-- ???? PARA QUE ES EL BOTON +1?               -->

                    <button type="button" class="[ btn btn-default ]">
                        <span class="[ glyphicon glyphicon-share-alt ]"></span>
                    </button>
           <!-- PLACEHOLDER COMMENT          -->

                    <div class="input-placeholder">Add a comment...</div>
                </div>

<!-- COMMENT                 -->
                <div class="panel-google-plus-comment">

    <!-- FOTO USUSARIO             -->
                    <img class="img-circle" src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s46" alt="User Image" />
                    <div class="panel-google-plus-textarea">
           <!-- TEXTO COMENTARIO -->
                        <textarea rows="4"><!-- COMMENT -->
        </textarea>
               <!-- BOTON SUBMIT COMMENT          -->
                        <button type="submit" class="[ btn btn-success disabled ]">Post comment</button>



                <!-- BOTON CANEL COMMENT -->
                        <button type="reset" class="[ btn btn-default ]">Cancel</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
                                          <!-- BOTONES SHOW EDIT DESTROY -->
    <div style="margin-bottom: 20px">
      <%= link_to 'See more', post %>
      <%= link_to 'Edit', edit_post_path(post) if can? :edit, post %>
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, post%>

        </div>
        </div>





